body {
  height: 100vh;
  display: grid;
  place-items: center center;
  /* font-family: "Poppins", sans-serif; */
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 20px;
  grid-gap: 40px;
}
