.header {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.18);

  @media screen and (max-width: 800px) {
    height: 60px;
    padding: 10px;
    margin-bottom: 20px;
  }
}
.logo-container {
  height: 50%;
  width: 70px;
  padding: 10px;
  margin-bottom: 10px;

  @media screen and (max-width: 800px) {
    width: 50px;
    padding: 0;
  }
}

.logo {
}
.options {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.option {
  padding: 10px 15px;
  cursor: pointer;
}
